.appBody {
    position: fixed;
    width: 70vw;
    height: 80vh;
    left: 15vw;
    top: 10vh;
    background-color: #000;
    border-radius: 16px;
    background-image: url("/src/assets/bg2.gif");
    background-size: cover;
    background-position: center;
}
